
// MARK: Fonts

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0, 500;0,700;1,400&display=swap');


// MARK: Global styles

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}


// MARK: Colors

$primary: #FC7753;
$secondary: #333333;


// MARK: Typography

$titleFont: 'Valera Round', sans-serif;
$bodyFont: 'Roboto', sans-serif;

h1, h2, h3, h4, h5, h6 {
	font-family: $titleFont;
}

h1 {
	font-size: 5rem;
}

p {
	font-family: $bodyFont;
	font-size: 1.5rem;
}


// MARK: Mixins

// The shadow holding this app together
@mixin hard-shadow($size: 3px) {
	box-shadow: $size $size 0 0 $secondary;
}

// Standard style for containers
@mixin container-style {
	border: 2px solid $secondary;
}

// The container header for new-user flow components
// TODO: Percentages aren't reading parent container width
@mixin container-header($width, $height) {
	position: absolute;
	left: 50%;
	width: $width;
	margin-left: -($width / 2);
	// Half over the top border
	height: $headerHeight;
	margin-top: -($headerHeight / 2);
	border-radius: 50px;
	background-color: black;
	// h/v centering text within our height
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 2;

	h3 {
		font-family: $bodyFont;
		font-weight: 500; // "Medium"
		font-size: 1rem;
		margin: 0;
		text-align: center;
		color: white;
	}
}

// Ensures the above will behave properly
// on :active, :focus modes
@mixin container-header-body {
	z-index: 1;
}
