
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

$titleFont: 'Valera Round', sans-serif;
$bodyFont: 'Roboto', sans-serif;


* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}


// MARK: Typography

h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round', sans-serif;
}

p {
	font-family: 'Roboto', serif;
}

// Sizing

h1 {
	font-size: 5rem;
}

p {
	font-size: 1.5rem;
}

// MARK: Colors

$primary: #FC7753;
$secondary: #333333;
